@font-face {
  font-family: 'Cera Pro';
  src:  url('CeraPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('CeraPro-Bold.woff2');
  font-weight: 700;
  font-style:normal;
  font-display:swap;
} 

@font-face {
  font-family: 'Cera Pro';
  src: url('CeraPro-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cera Pro';
}

/*STILE NAVBAR*/
.navbar-container-general {
  position: sticky;
  height: auto;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  align-items: center;
  height: 3.7rem;
  background-color: #f8f8f8;
  margin: 0 1.5rem;
}

#nav-container{
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  justify-content: center;
}

.area-giochi {
  display: flex;
  margin-left: 0 2rem;
}

.button-area-giochi {
  display: flex;
  gap: 5px;
  background-color: #abd9ff;
  text-decoration: none;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  color: black;
  font-size: small;
  font-weight: 500;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.button-area-giochi:hover {
  background-color: #f8f8f8;
}

.mar10-button-lr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 11em;
}

.mar10-day-sale{
  font-size: 0.75rem;
  line-height: 1.1875rem;
  font-weight: 400;
}

.mar10 {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  gap: 10px;
}

.mar10-shop-now {
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
  color: #005aD2;
}
.mar10-shop-now:hover{
  text-decoration: underline;
} 

.sign-in-box {
  display: flex;
  align-items: center;
  /* padding-right: 10px; */
  gap: 30px;
}

.sign-in {
  display: flex;
  padding: 0;
  height: auto;
  font-size: large;
  align-items: center;
  gap: 20px;
}

.img-sign-in {
  padding: 0;
  height: auto;
}

.btn {
  cursor: pointer;
}

.sign-in-join {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-in-link-style {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

/**style menu**/
.menu-container {
  display: flex;
  background-color: rgb(255, 213, 2);
  width: 100%;
  justify-content: center;
}

.menu {
  display: flex;
  height: 4.7rem;
  width: 100%;
  max-width: 100rem;
  margin: 0 2rem;
  justify-content: space-between;
}

.menu-logo{
  height: 55px;
  width: 55px;
}

.menu-logo-links {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 60px;
}

.menu-links-cnt {
  font-size: 1em;
  display: flex;
  gap: 40px;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hover-underline:hover {
  font-size: 1em;
  text-decoration: underline;
  text-decoration-thickness: 0.3em ;
}

.mday-link {
  font-size: 1rem;
  font-weight: 300;
  background-color: white;
  color: red;
  padding: 10px;
  border-radius: 7px;
}

.mday-link:hover {
  background-color: black;
  color: white;
}

.menu-search-shop {
  display: flex;
  align-items: center;
  gap: 25px;
}

.search-logo {
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: white;
  border: none;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.heart-logo {
  color: black;
}

.shop-logo {
  color: black;
}

/* STILE SECTION 1 */
.m-section1-mobile{
  display: none;
}

.contenitore-generale {
    width: 100%;
    margin: 0 auto;
}

.contenitore-main1 {
    position: relative;
    max-width: 100rem;
    margin: 0px auto;
}

.testoslider-main1 {
    position: absolute;
    max-width: 35%;
    left: 6.475rem;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.align-slider-main1 {
    height: auto;
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.align-slider-main1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testoslider-main1 img {
    width: 175px;
    margin-bottom: 20px;
}

.testoslider-main1 h1 {
  font-size: 2.5rem;
  line-height: 4.120rem;
  font-weight: 400;
}

.testoslider-main1 h3 {
    text-align: left;
    margin-bottom: 50px;
    line-height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 400;
}
@media screen and (min-width: 601px) {
  .buttons-main1 {
    -moz-box-pack: start;
    justify-content: flex-start;
  }
}
.buttons-main1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -0.625rem;
  gap: 20px;
  padding-left: 10px;
  
}

.testoslider-main1 a {
    text-decoration: none;
    width: auto;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 500;
  text-transform: none;
  padding: 0.625rem 1.325rem 0.625rem 1.325rem;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: -25px;
    
}

.testoslider-main1 svg {
  margin-left: 0.75rem;
}

.testoslider-main1 a:hover{
  background-color: white;
  color: black;
}

.background_main1 {
    margin-top: 0;
    background-color: #ffffff;
    overflow:hidden;
}

 /*proprietà delle container generale delle icone*/
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center; /* per centrare le iconcine */
    text-align: center; /* per centrare il testo */
    padding: 0 10%;
    padding-top: 1%; 
    max-width: 100rem; 
    margin: 0 auto;
    padding-bottom: 1%;
    gap: 1.25rem;
  }

 /*proprietà delle icone*/
  .icon {
    text-decoration: none; /* Rimuove il sottolineato dai link, utilissimo */
    color: black; /* colore del testo nero */
  }

/*iconcine sotto l'immagine slider*/
  .icon img {
    margin: 0 auto;
    width: 120px; /* per omologare tutte le immagini */
    max-width: 140px;
    height: auto; /* per non distorcerle */
  }

/*testo sotto le immagini*/
  .icon span {
    display: block; /* rende il testo un blocco per forzarlo sotto l'immagine */
    letter-spacing: .01em;
    font-size: 0.75rem;
    line-height: 1.62;
    font-weight: 500;
  }
  .icon .italic-text-icon {
    font-style: italic;
  }
  .icon-container a:hover{
    text-decoration: underline;
  }
  
/*STILE SECTION 2*/
.container-section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: white;
  color: black;
}

.main-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  padding-top: 65px;
}

.title-main-section2 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 10px;
  color: black;
}

.title-main-section2 h2 {
  font-size: 2rem;
  font-weight: 400;
}


.container-s2 {
  display: flex;
  justify-content: center;
}

.container-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  height: auto;
}

.card{
  width: 100%;
}

.img-section2{
  width: 100%;
}

.container-h3-s2{
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 15px;
}

.container-text-s2{
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 10px;
}

.container-shop-now2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  padding: 1.25rem;
}

.shop-now2{
  font-size: 1rem;
  font-weight: 500;
}

.snow2-2{
  padding-top: 2.8125rem ;
}

.snow2-3{
  padding-top: 60px;
}
.iper-centrale-s2:hover{
  text-decoration: underline;
}

/*CAROSELLO SECTION 3 E 5*/

.section-3 {
  height: 70%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F3EBFF;
}

a {
  text-decoration: none; /*per togliere linea ai link*/
  color: inherit;
}

.carousel-section-wrapper {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container-wrapper{
  width: 100%;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.card-slider-container {
  display: flex;
  width: 95%;
  align-content: center;
  justify-content: center;
}

.carousel-card { 
  position: relative;
  background: #fff;
  height: 497px;
  width: 290px;
  display: none;
  margin-right: 40px;
}

/*stile button scorrimento*/
.carousel-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  z-index: 1;

  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: color 0.1s;/*rende la transizione più smooth applicandole un delay*/

  width: 50px;
  height: 50px;

  background-color: rgb(224, 224, 224);
  /*border: 2px solid rgb(224, 224, 224); /* Colore del bordo */
  border-radius: 50%;

  margin: 5px;
}

.fa-solid {
  font-size: 24px;
}


.carousel-button:hover {
  background-color: transparent; /*colore che appare quando passi sopra con il mouse*/
  border: 2px solid rgb(224, 224, 224);
}

.carousel-button-previous {
  left: 0;
}

.carousel-button-next{
  right: 0;
}

/*stile topbar carosello*/
.carousel-topbar {
  margin-left: 2.5em;
  padding-bottom: 1em;
  position: relative;
}

.carousel-title {
  font-size: 2rem;
  font-weight: 400;
}

/*wishlist*/
.wishlist-carousel {
  width: 30px;
  height: 30px;
  top: 10px;
  left: 15px;
  z-index: 1;
  position: absolute;
}

.heart-svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-ctn-heart {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
  background-color: #f8f8f8;
  position: absolute;
}

/*style immagine*/
.product-image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: auto;
  background-color: white;
  /*border: solid 1px black;*/
}

.img-carousel-section3 {
  max-width: 87%;
  max-height: 87%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.img-carousel-section3:hover {
  transform: scale(1.1)
}

/*style leaf carousel*/
.product-name {
  font-size: 1rem;
  font-weight: 500;
  height: 20%;
  padding: 10px 15px;
}

.link-style-section3 {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.link-style-section3:hover {
  border-bottom: 1px solid white;
}

.price-product-carousel {
  padding-left: 15px;
  padding-top: 25px;
}

.price-product-carousel p{
  font-size: 1.20rem;
  font-weight: 700;
}

.trademark {
  vertical-align: top;
  font-weight: 600;
}

/*style bottone add to Bag*/

.container-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.button-addtoBag {
  background-color: #F8CF31;
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  width: 90%;
  justify-content: center;
  border-radius: 3px;
  border: none;
}

.button-addtoBag:hover{
  background-color: #2E0F54;
  cursor: pointer;
  border:1px solid #F8CF31;
  color: #F3EBFF;
}

.product-leaf-carousel {
  background-color: #2E0F54;
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 12px 10px 10px 10px ;
}

/* @media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3){
  .product-image-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 290px;
    background-color: white;
  }
} */

/*scrollbar carosello*/

/*STILE SECTION4*/
#section4-container {
  background-color: white;
}

#leaf-product-section4 {
  background-color: white;
  color: black;
  padding: 0;
}

#product-name-section4 {
  padding: 13px 0;
}

#price-section4 {
  padding-top: 30px;
  padding-left: 0;
}

#button-section4 {
  width: 100%;
  height: 60px;
  background-color: rgb(233, 111, 20);
}

#button-section4:hover {
  background-color: white;
  border: solid 2px rgb(233, 111, 20);
  color: black;
}

#img-carousel-section4 {
  border: solid 2px rgb(224, 224, 224);
}

#btt-section4 {
  background-color: transparent;
  border: solid 2px rgb(224, 224, 224);
}

#btt-section4:hover {
  background-color: rgb(224, 224, 224);
}

/*STILE SECTION 6BAR*/
.container-section6_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
      
.section6_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #2E0F54;
  gap: 50px;
}

.text_bar {
  font-size: clamp(1.4375rem,.653061vw + 1.28444rem,1.9375rem);
  font-weight: 700;
  letter-spacing: -.01em;
  color: aliceblue;
}

.button-section6 {
  display: flex;
  gap: 2.5rem;
}

.button6{
  font-weight: bold;
  background-color: #2E0F54;
  text-decoration: none;
  color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 30px;
  padding: 15px;
}

.button-section6 :hover {
  background-color: aliceblue;
  color: black;
  text-decoration: underline;
}
/*SECTION 6*/
.contenitore-generale6{
  background-color: #2E0F54;
  width: 100%;
  color: black;
}
.contenitore-section6 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.img6{
  height: 100%;
  width: 100%;
}

.img-section6{
  width: 60%;
}

.testo-section6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:self-start;
  padding: 30px;
  padding-left: 70px;
  width: 40%;
  background-color: #fff4eb;
  gap: 15px
}

.testo-section6 h1{
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.6875rem;
}

.testo-section6 p{
  font-size: 1.125rem;
}

.iper-shop-now6{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.iper6{
  display: flex;
  align-items: center;
  background-color: black;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding:10px;
  border-radius: 5px;
  gap: 10px;
}

.iper6:hover{
  background-color: white;
  color: black;
}

/*SECTION 7 CAROSELLO*/

#section7-carousel {
  background-color: #2E0F54;
}

#carousel-title-section7 {
  color: white;
}

#btt-section7 {
  color: white;
  background-color: rgb(76, 38, 111);
}

#btt-section7:hover {
  color: black;
  background-color: white;
}

/*STILE SECTION 8*/
.container-section8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color:#300c54;
  color: white;
}

.main-section8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  padding-top: 65px;
}
.title-main-section8-mobile{
  display: none;
}
.title-main-section8 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 10px;
}

.title-main-section8 h2{
  font-size: 2rem;
  font-weight: 400;
}

.container-s8 {
  display: flex;
  justify-content: center;
}

.container-card8 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 25%;
  height: auto;
}

.card{
  width: 25%;
}

.img-section8{
  width: 100%;
}

.card-body h3{
  font-size: 1.25rem;
  font-weight: 500;
}

.container-h3-s8{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.container-text-s8{
  padding-top: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

.container-shop-now8{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.shop-now8{
  font-size: 1rem;
  font-weight: 500;
}

.iper-centrale-s8:hover{
  text-decoration: underline;
}

/*SEPARATORE SECTION8-9*/


.imgbk9{
  width: 100%;
}

/*STILE SECTION9*/
.container-section9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: white;
  color: black;
}

.main-section9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  padding-top: 65px;
}

.title-main-section9 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 10px;
}

.title-main-section9 h2{
  font-size: 2rem;
  font-weight: 400;
}

.container-s9 {
  display: flex;
  justify-content: center;
}

.container-card9 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  height: auto;
}

.card{
  width: 100%;
}

.img-section9{
  width: 100%;
}

.card-body9{
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-h3-s9{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 1.25rem;
  font-weight: 500;
}

.container-text-s9{
  padding-top: 10px;
}

.container-shop-now9{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.shop-now9{
  
  font-size: 1rem;
  font-weight: 500;
}

.iper-centrale-s9:hover{
  text-decoration: underline;
}

/*STILE FOOTER 1*/
.container-footer1 {
  background-color: #f0f0f0;
  padding: 20px;
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 50px;
  /* width: 100%; */
}

.container-footer1 a{
  color:#005aD2;
}

/*STILE FOOTER 2*/
.container-footer2-generale{
  width: 100%;
  background-color: #1f1d48;
}

.f_section2{
  max-width: 100rem;
  margin: 0 auto;
  padding-top:30px ;
}

.container-generale-footer2{
  display: flex;
  flex-direction: column;
  background-color: #1f1d48;
}

.div1-footer2{
  display: flex;
  background-color: #1f1d48;
  margin-bottom: 40px;
}
.div2-footer2{
  height: 100px;
  background-color: #1f1d48;
}

.box1-footer2{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  background-color: #1f1d48;
}

.box1-logo{
  display: flex;
  flex-direction: column;
  align-items:self-start;
  gap:90px;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.logo-footer2{
  height: 10px;
  width: 100px;
  margin: 15px;
}

.botton-footer2{
  display: flex;
  flex-direction: row;
  background-color: rgb(24,21,45);
  color: #f0f0f0;
  padding: 7px;
  margin: 15px;
  width: 45%;
  gap:15px;
  cursor: pointer;
}

.button-f2{
  font-size: medium;
  background: transparent;
  border: none;
  color: white;
  
}

.box1-iper{
  display: flex;
  flex-direction: column;
  margin:15px;
  gap: 30px;
  color: white;
}

.box2-footer2{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 70%;
  background-color: #1f1d48;
}

.box2-ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  width: 32%;
  background-color: #1f1d48;
  color: white;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.box2-ul h3{
  font-size: 1rem;
  font-weight: 700;
}

.li-f2{
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  gap:20px;
  list-style-type: none;
}

.box3-footer2{
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  background-color: #1f1d48;
  color: white;
}

.subscribe-footer2{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 15px;
}

.email-footer2{
  display: flex;

}

.email-input-f2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.email-button-f2{
  border: none;
  padding:20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e96f14;
  cursor: pointer;
}

.social-footer2{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap:30px;
}

.social-footer2 h3{
  font-size: 1rem;
  font-weight: 500;
}

.subscribe-footer2 h3{
  font-size: 1rem;
  font-weight: 500;
}

.svg-social-f2{
  display: flex;
  gap:10px;
}

.link-logo-f2{
  font-weight: 400;
}

.link-f2:hover{
  text-decoration: underline;
}

.li-f2-link:hover{
  text-decoration:  underline;
}

/*STILE FOOTER 3*/
.f_section3 {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 70px;
  font-family: Arial, sans-serif;
  font-size: small;
  background-color: #1f1d48;
  color: white;
  padding-top: 20px;
}

.container-footer3 {
  padding: 15px;
  color: white;
  display: flex;
}

.testo {
  padding: 15px;
}
.element {
  margin-right: 35px;

}

.link-f3 {
  color: white;
}

.link-f3:hover{
  text-decoration: underline;
}

.width-adjuster {
  max-width: 100rem;
  margin: 0 auto;
}

#footer-background{
  background-color: #1f1d48;
}
