/* MEDIA QUERY IPAD PRO */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) {

/* STYLE NAVBAR MEDIA IPAD */
    .navbar {
      display: flex;
      justify-content: space-around;
      max-width: 100rem;
      margin: 0 auto;
      gap: 11rem;
      align-items: center;
      height: 3.7rem;
      background-color: #f8f8f8;
    }

    .menu {
      display: flex;
      justify-content: space-around;
      height: 4.7rem;
      max-width: 100rem;
      margin: 0 auto;
      gap: 37rem;
    }
    .menu-logo-links {
      font-size: 1em;
      display: flex;
      align-items: center;
      gap: 60px;
    }

/* STYLE FOOTER1 MEDIA IPAD */
    .container-footer1 p {
      margin: 15px;
      display: -webkit-box;
      -webkit-line-clamp: 3; 
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .container-footer1 p::after {
      content: " Read more";
      color: #005aD2;
      cursor: pointer;
    }

    .container-footer1 a[href*="gaming"]::after {
      content: none;
    }

    .container-footer1 {
      margin: 0 30px; 
      margin-bottom: 50px;
    }
    .container-footer1 p {
      font-size: 14px; 
    }

/* STYLE FOOTER2 MEDIA IPAD */
    .box2-ul{
      flex-wrap: wrap;
    }

    .box3-footer2{
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding-top: 40px;
    }

/* STYLE FOOTER3 MEDIA IPAD */
    .container-footer3{
      margin-top: 35px;
    }

    .testo{
      padding: 20px;
    }


}