/* MEDIA QUERY IPAD PRO */
@media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (orientation: portrait) {
  /* STYLE NAVBAR MEDIA IPAD */
  .sign-in-link-style > span {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .sign-in-box {
    gap: 20px;
  }

  .menu {
    display: flex;
    height: 4.7rem;
    max-width: 100rem;
  }

  .menu-logo-links {
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-right: 15rem;
  }

  /* STYLE SECTION1 MEDIA IPAD */
  .icon img {
    margin: 0 auto;
    width: 6rem; /* per omologare tutte le immagini */
    max-width: 140px;
    height: auto; /* per non distorcerle */
  }

  /* STYLE FOOTER1 MEDIA IPAD */
  .container-footer1 p {
    margin: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .container-footer1 p::after {
    content: " Read more";
    color: #005ad2;
    cursor: pointer;
  }

  .container-footer1 a[href*="gaming"]::after {
    content: none;
  }

  .container-footer1 {
    margin: 0 30px;
    margin-bottom: 50px;
  }
  .container-footer1 p {
    font-size: 12px;
  }

  /* STYLE FOOTER2 MEDIA IPAD */
  .box2-ul {
    flex-wrap: wrap;
  }

  .box3-footer2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
  }

  /* STYLE FOOTER3 MEDIA IPAD */
  .container-footer3 {
    margin-top: 35px;
  }

  .testo {
    padding: 20px;
  }
}

/*MEDIA QUERY IPHONE 12 PRO*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* STYLE NAVBAR MEDIA IPHONE */
  /* .navbar-container-general {
  display: none;
} */

  /* .navbar {
  display: flex;
  justify-content: center;
  max-width: 100rem;
  margin: 0 auto;
  gap: 0;
  align-items: center;
  height: 3.7rem;
  background-color: #f8f8f8;
} */

  .button-area-giochi {
    display: none;
  }

  .sign-in-box {
    display: none;
  }

  .menu-links-cnt {
    display: none;
  }

  .menu-search-shop {
    display: none;
  }

  /* STYLE CONTENITORE GENERALE MEDIA IPHONE */
  .contenitore-generale {
    width: 100%; /* Adatta la larghezza del container allo schermo */
    margin: 0 auto; /* Centra il container orizzontalmente */
    padding: 20px; /* Aggiunge un padding al container */
  }

  /* STYLE SECTION1 MEDIA IPHONE */
  .m-section1-mobile{
    display: flex;
  }

  .m_section1 {
    display: none;
  }
  .img-section1-mobile{
    max-width: 300px;
  }
  .imgs1-mobile{
    max-width: 390px;
  }
}
/* STYLE SECTION 8 MEDIA IPHONE */
.main-section8{
  overflow: scroll;
  padding-top: 10px;
}

.title-main-section8 {
  display: none;
}

.title-main-section8-mobile{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 10px;
  background-color: #300c54;
  color: white;
}

.title-main-section8-mobile h2{
    font-size: 2rem;
    font-weight: 400;
}

.container-s8{
  overflow-x: scroll;
}

/*STYLE SECTION 9 MEDIA IPHONE*/

/* STYLE FOOTER2 MEDIA IPHONE */

.container-footer2-generale {
  width: 100%;
  background-color: #1f1d48;
}

.f_section2 {
  max-width: 100rem;
  margin: 0 auto;
  padding-top: 30px;
}

.container-generale-footer2 {
  display: flex;
  flex-direction: column;
  background-color: #1f1d48;
}

.div1-footer2 {
  display: flex;
  background-color: #1f1d48;
  margin-bottom: 40px;
}
.div2-footer2 {
  height: 100px;
  background-color: #1f1d48;
}

.box1-footer2 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  background-color: #1f1d48;
}

.box1-logo {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 90px;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.logo-footer2 {
  height: 10px;
  width: 100px;
  margin: 15px;
}

.botton-footer2 {
  display: flex;
  flex-direction: row;
  background-color: rgb(24, 21, 45);
  color: #f0f0f0;
  padding: 7px;
  margin: 15px;
  width: 45%;
  gap: 15px;
  cursor: pointer;
}

.button-f2 {
  font-size: medium;
  background: transparent;
  border: none;
  color: white;
}

.box1-iper {
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 30px;
  color: white;
}

.box2-footer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 70%;
  background-color: #1f1d48;
}

.box2-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  width: 32%;
  background-color: #1f1d48;
  color: white;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.box2-ul h3 {
  font-size: 1rem;
  font-weight: 700;
}

.li-f2 {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.box3-footer2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background-color: #1f1d48;
  color: white;
}

.subscribe-footer2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}

.email-footer2 {
  display: flex;
}

.email-input-f2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.email-button-f2 {
  border: none;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e96f14;
  cursor: pointer;
}

.social-footer2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 30px;
}

.social-footer2 h3 {
  font-size: 1rem;
  font-weight: 500;
}

.subscribe-footer2 h3 {
  font-size: 1rem;
  font-weight: 500;
}

.svg-social-f2 {
  display: flex;
  gap: 10px;
}

.link-logo-f2 {
  font-weight: 400;
}

.link-f2:hover {
  text-decoration: underline;
}

.li-f2-link:hover {
  text-decoration: underline;
}

/* STYLE FOOTER3 MEDIA IPHONE */

.container-footer3{
  flex-wrap: wrap;
}

/*media query caroselli*/
@media screen and (min-width: 1201px) {
  .carousel-card {
    width: calc(25% + 0.546875rem);
  }
}
