/* MEDIA QUERY IPAD PRO */
@media only screen and (min-device-width: 901px) and (max-device-width: 1200px) and (orientation: portrait) {
  /* STYLE NAVBAR MEDIA IPAD */
  .sign-in-link-style > span {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .sign-in-box {
    gap: 20px;
  }

  .menu {
    display: flex;
    height: 4.7rem;
    max-width: 100rem;
  }

  .menu-logo-links {
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-right: 15rem;
  }

  /* STYLE SECTION1 MEDIA IPAD */
  .icon img {
    margin: 0 auto;
    width: 6rem; /* per omologare tutte le immagini */
    max-width: 140px;
    height: auto; /* per non distorcerle */
  }

  /* STYLE FOOTER1 MEDIA IPAD */
  .container-footer1 p {
    margin: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .container-footer1 p::after {
    content: " Read more";
    color: #005ad2;
    cursor: pointer;
  }

  .container-footer1 a[href*="gaming"]::after {
    content: none;
  }

  .container-footer1 {
    margin: 0 30px;
    margin-bottom: 50px;
  }
  .container-footer1 p {
    font-size: 12px;
  }

  /* STYLE FOOTER2 MEDIA IPAD */
  .box2-ul {
    flex-wrap: wrap;
  }

  .box3-footer2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
  }

  /* STYLE FOOTER3 MEDIA IPAD */
  .container-footer3 {
    margin-top: 35px;
  }

  .testo {
    padding: 20px;
  }
}


@media screen and (min-width: 1201px) {
  .crl-wrapper-media {
    max-width: 82.5rem;
  }
}

@media screen and (min-width: 601px) (max-width: 1200px){
  /*gestione caroselli*/
  .hs {
    grid-template-columns: repeat(12, 40%);
  }

  .carousel-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}